#unity-container.unity-desktop{
    width: 100%;
    height: 99%;
}
#unity-footer{
    display: none;
}

#unity-warning{
    display: none;
background: black;
}

#unity-canvas{
    width: 100%;
height: 100%;
}

